@import '~@angular/material/theming';
@import './../style/mixins.scss';

@mixin mq-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $toobar-height: 56px;
  $small-toobar-height: 48px;
  $common-toobar-height: 104px;
  $list-item-height: 54px;

  
}
